.container {
    font-family: "DM Mono", monospace;
    padding: 100px 30px 30px 30px;
    font-size: 18px;
    display:flex;
    flex-direction: column;
  }

@media only screen and (max-device-width: 480px) {
    .container {
        font-size: 25px;
    }
}
a {
    color: black;
}