body{
    font-family: "DM Mono", monospace;
    font-size: 18px;
}
.container {
    padding: 100px 30px 30px 30px;
}
.sub-container{
    padding: 50px 30px 30px 30px;
}
.flex-column{
    display:flex;
    flex-direction: column;
}
@media only screen and (max-device-width: 480px) {
    body {
        font-size: 30px;
    }
}
a {
    color: black;
}